In [15]:
import pandas as  pd
from sqlalchemy import create_engine
data=pd.read_csv("project_files/G25_Food Delivery – Restaurants  Dishes with Delivery Partners_merged (1).csv")

In [17]:
columns_to_check = ['restaurant_id', 'dish_id', 'partner_id']
data = data.drop_duplicates(subset=columns_to_check, keep='first').copy()
data.loc[:, 'id'] = range(1, len(data) + 1)
data

,restaurant_id,dish_id,order_date,quantity,restaurant_name,location,cuisine,partner_id,dish_name,category,price,partner_name,rating,id
0,296,22,2025-01-17,1,Moon-Heath,New Tamara,Italian,1,both,Dessert,7,Hall and Sons,4.0,1
1,41,168,2025-02-17,2,"Chapman, Peters and Moore",Priceberg,Italian,22,on,Main,19,Garner-Russo,4.2,2
2,111,234,2025-01-12,1,Arnold PLC,Justinport,Indian,10,head,Appetizer,35,"Garcia, King and Rodriguez",2.4,3
3,123,181,2025-01-28,1,"Hawkins, Davis and Brown",Batesmouth,Chinese,19,program,Main,15,Lara and Sons,2.0,4
4,235,256,2025-01-30,3,Reyes-Lee,Jennamouth,Indian,13,employee,Main,27,Carson and Sons,4.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,39,283,2025-01-19,3,Anderson-Green,East Chase,Mexican,1,eat,Dessert,11,Hall and Sons,4.0,1982
1996,108,193,2025-02-10,3,Mccall-Thomas,Port Ericville,Chinese,3,along,Main,29,Rojas-Duncan,2.4,1983
1997,189,22,2025-01-06,4,"Rodriguez, Rogers and Chung",Port Isaacbury,Mexican,14,both,Dessert,7,Koch-Lewis,4.5,1984
1998,202,382,2025-02-02,2,Madden-Thompson,East Ronaldport,Mexican,21,stop,Dessert,20,Scott PLC,1.6,1985
1999,210,199,2025-02-19,1,Myers Group,West Danielle,Chinese,26,once,Main,32,"Fuentes, Mcdaniel and Elliott",4.0,1986

In [21]:
from sqlalchemy import create_engine
columns_to_import = ['cuisine', 'restaurant_id', 'restaurant_name']
df_selected = data[columns_to_import]
database_path = 'Restaurant.db'  
engine = create_engine(f'sqlite:///{database_path}')
table_name = 'Restaurant'
df_selected.to_sql(table_name, con=engine, if_exists='replace', index=False)

1986

In [22]:
from sqlalchemy import create_engine
columns_to_import = ['dish_id', 'dish_name', 'category','price']
df_selected = data[columns_to_import]
database_path = 'Dish.db'  
engine = create_engine(f'sqlite:///{database_path}')
table_name = 'Dish'
df_selected.to_sql(table_name, con=engine, if_exists='replace', index=False)

1986

In [23]:
from sqlalchemy import create_engine
columns_to_import = ['order_date', 'quantity']
df_selected = data[columns_to_import]
database_path = 'Order.db'  
engine = create_engine(f'sqlite:///{database_path}')
table_name = 'Order'
df_selected.to_sql(table_name, con=engine, if_exists='replace', index=False)

1986

In [26]:
from sqlalchemy import create_engine
columns_to_import = ['partner_id', 'partner_name', 'rating']
df_selected = data[columns_to_import]
database_path = 'DeliveryPartner.db'  
engine = create_engine(f'sqlite:///{database_path}')
table_name = 'DeliveryPartner'
df_selected.to_sql(table_name, con=engine, if_exists='replace', index=False)

1986